.sidebar {
	padding-top: 16px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 233px;
	border-right: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
}

.item {
	display: flex;
	gap: 7.5px;
	margin: 8px 16px 0;
}

.item:last-child {
	margin: 8px 0 0;
	padding: 0 16px 16px;
	border-bottom: 1px solid #e9e9e9;
}

.title {
	font-size: 16px;
	font-weight: 400;
	color: #4c6e91;
	cursor: pointer;
	width: 178px;
}

.item:hover .title {
	color: red;
	text-decoration: underline;
}